:root {
    --primary-color: #B9103C;
    --bs-body-bg: #FBF0F6;
    --bs-body-font-family: 'Montserrat', sans-serif;
  }

  /*navbar*/

  .navbar-brand{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 50px;
    
  }
  
  
  .btn-login {
    background-color: var(--primary-color);
    color: white;
    border-radius: 1rem;
  }
  
  .btn-login:hover {
    
    border-color: var(--primary-color);
    color: white;
  }


/*navbarend*/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-body {
    
    padding-top: 3rem;
    padding-left:3rem;
    padding-right: 3rem;
    border-top: white;
  }
.form-footer {
    margin-top: 50px;
    
    
}

.form-group {
    margin-top: 3rem;
    padding: 25px;
    display: flex;
    justify-content: column;
    flex-direction: column;
    
}

.hagi {
    color: var(--primary-color);
}
.signup-form {
  margin-top: 10rem;
}
.signup-photo {
    display: flex;
    justify-content: end;
}

.form-control {
    border-color: #420515;
}

.form-control:hover {
    border-color: white;
    cursor: pointer;
}

.btn-signup {
    background-color: var(--primary-color);
    border: 0;
    color: white;
}

.btn-signup:hover {
    opacity: 0.8;
}

footer{
  background-color: var(--primary-color);
  text-shadow:1px 1px #060003;
  padding: 2rem;
  margin-top: auto;
}
